:root {
  --c-blue: #17eced;
  --c-blue-light: #17eced;
  --c-pink: #e72ee2;
  --c-primary: #333;
}

* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 24px;
  font-size: 3vw;
  color: var(--c-primary);
  font-size: 36px;
}

* {
  font-size: 24px;
}

p {
  margin: 12px 0;
}

html {
  min-height: 100vh;
  border-left: 8px solid var(--c-blue);
}

body {
  margin: 0 auto;
  max-width: 780px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--c-primary);
  font-weight: 600;
  border-radius: 2px;
}

a:hover {
  color: black;
  outline: 0;
}

p a {
  background: none;
}

main p a:hover {
  /* outline: 0; */
  /* color: black; */
}

.big a {
  padding: 18px 24px;
}

.big a:hover,
a.button:hover {
  background: white;
  outline: 2px solid black;
  color: black;
}

.big a {
  background: var(--c-blue);
}

.big a.alt-link {
  background: var(--c-pink);
  margin-left: 20px;
}

.button {
  font-weight: 600;
  border-radius: 2px;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  background: var(--c-pink);
  padding: 18px 48px;
}

h2 {
  line-height: 1;
  font-size: 40px;
}

main h3 {
  display: inline-block;
  font-size: 32px;
  line-height: 1;
  border-bottom: 2px solid var(--c-pink);
  box-shadow: inset 0px -6px 0 0px var(--c-pink);
  padding: 0 6px 0 4px;
  margin: 32px 0 16px 0;
}

header {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'logo title'
    'logo subtitle';
  align-items: center;
  padding-top: 80px;
  padding-top: 40px;
}

header h1 {
  grid-area: logo;
  margin-right: 20px;
}

header h1 img {
  width: 215px;
  height: 215px;
}

header h1 img {
  width: 125px;
  height: 125px;
  display: block;
  margin: 0 auto;
}

header h2 {
  grid-area: title;
  padding-left: 4px;
}

header h3 {
  grid-area: subtitle;
  align-self: start;
  background: var(--c-blue);
  display: inline-block;
  width: fit-content;
  padding: 8px 8px;
}

main {
  padding-top: 40px;
  padding-left: 8px;
  flex-grow: 1;
}

main ul li {
  margin: 8px 0;
  list-style: none;
}

main ul.big li {
  list-style: none;
  line-height: 3;
  margin: 20px 0;
}

main ol li {
  margin: 24px 0 36px 0;
}

main h2 {
  border-bottom: 2px solid var(--c-blue);
  box-shadow: inset 0px -10px 0 0px var(--c-blue);
  padding-left: 4px;
  margin: 64px 0 16px 0;
}

main h2:first-child {
  margin-top: 0px;
}

footer {
  border-top: 2px solid var(--c-blue);
  padding: 12px;
  padding-bottom: 24px;
  margin-top: 64px;
}

footer ul {
  list-style: none;
}

footer ul a {
  background: none;
  font-size: 60%;
  padding: 0;
}

.cta {
  text-align: center;
  margin: 48px 0;
}

small {
  font-style: italic;
  font-size: 80%;
}

small a {
  font-size: inherit;
}

output {
  /* font-family: monospace; */
  font-variant-numeric: tabular-nums;
}

.talks {
  position: relative;
}

.talks ol {
  list-style: none;
}

.talks .talk-title {
  margin-right: 12px;
  font-style: normal;
  background-color: var(--c-pink);
  color: white;
  position: relative;
  box-decoration-break: clone;
}

.talk-title span {
  color: white;
}

.talks .js-bg .talk-title {
  box-shadow: 0px 0px 0 9px var(--c-pink);
}

.talks .js-bg span {
  opacity: 0;
}

.talks .js-clone .talk-title {
  background: none;
  box-shadow: none;
}

.talks .js-clone {
  background: none;
  position: absolute;
  top: -24px;
  left: 0;
  width: 100%;
}

.talks {
  font-style: italic;
}

dd {
  margin-bottom: 24px;
}

@media screen and (min-width: 440px) {
  header h2 {
    font-size: 11vw;
  }

  header h3 {
    font-size: 4.32vw;
  }

  header h1 img {
    width: 20vw;
    height: 20vw;
    max-width: 220px;
    max-height: 220px;
    display: block;
    margin: 0 auto;
  }
}

@media screen and (min-width: 600px) {
  .locations {
    display: grid;
    column-gap: 8px;
    grid-template-columns: auto auto;
  }
}

@media screen and (min-width: 1100px) {
  header h2 {
    font-size: 120px;
  }

  header h3 {
    font-size: 47px;
  }
}
